PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://usuario:senha@localhost:5432/abr_ondas
FRONTEND_URL=http://localhost:3001
MICROSOFT_TENANT_ID=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_SENDER_EMAIL=thiago.almeida@grupoabr.com.br
SESSION_SECRET=
TRACKING_SECRET=
